<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ghm.giftcardfleamarket.brand.mapper.BrandMapper">

    <select id="selectBrandsByCategory" parameterType="map" resultType="Brand">
        SELECT name FROM brand
        WHERE category_id = #{id}
        ORDER BY id ASC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

</mapper>