<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ghm.giftcardfleamarket.item.mapper.ItemMapper">

    <resultMap id="itemResultMap" type="Item">
        <result property="brandId" column="brand_id"/>
    </resultMap>

    <select id="selectItemsByBrand" parameterType="map" resultType="Item">
        SELECT name, price
        FROM item
        WHERE brand_id = #{id}
        ORDER BY id ASC
        <if test="pageSize != null and offset != null">
            LIMIT #{pageSize} OFFSET #{offset}
        </if>
    </select>

    <select id="selectItemTotalCountByBrand" parameterType="Long" resultType="int">
        SELECT count(*)
        FROM item
        WHERE brand_id = #{brandId}
    </select>

    <select id="selectItemDetails" parameterType="Long" resultMap="itemResultMap">
        SELECT name, price, brand_id
        FROM item
        WHERE id = #{itemId}
    </select>

</mapper>