<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ghm.giftcardfleamarket.purchase.mapper.PurchaseMapper">

    <insert id="insertPurchaseGiftCard" parameterType="Purchase">
        INSERT INTO purchase(sale_id, item_id, buyer_id, price, bought_at)
        VALUES (#{saleId}, #{itemId}, #{buyerId}, #{price}, #{boughtAt})
    </insert>

</mapper>