<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ghm.giftcardfleamarket.sale.mapper.SaleMapper">

    <resultMap id="saleResultMap" type="Sale">
        <result property="itemId" column="item_id"/>
        <result property="sellerId" column="seller_id"/>
        <result property="expirationDate" column="expiration_date"/>
        <result property="purchaseStatus" column="purchase_status"/>
        <result property="expirationStatus" column="expiration_status"/>
        <result property="registeredAt" column="registered_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <resultMap id="inventoryResultMap" type="Inventory">
        <result property="expirationDate" column="expiration_date"/>
    </resultMap>

    <insert id="insertSaleGiftCard" parameterType="Sale">
        INSERT INTO sale(seller_id, item_id, barcode, expiration_date, registered_at)
        VALUES (#{sellerId}, #{itemId}, #{barcode}, #{expirationDate}, #{registeredAt})
    </insert>

    <select id="hasBarcode" parameterType="String" resultType="boolean">
        SELECT EXISTS
        (SELECT barcode FROM sale WHERE barcode = #{barcode})
    </select>

    <select id="selectMySoldGiftCards" parameterType="map" resultMap="saleResultMap">
        SELECT item_id, barcode, expiration_date, registered_at FROM sale
        WHERE seller_id = #{userId}
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="selectGiftCardInventoriesByExpirationDate" parameterType="Long" resultMap="inventoryResultMap">
        SELECT expiration_date, COUNT(*) count FROM sale
        WHERE item_id = #{itemId} AND expiration_status = 0 AND purchase_status = 0
        GROUP BY expiration_date
        ORDER BY expiration_date ASC
    </select>

    <select id="selectSaleGiftCard" parameterType="Long" resultMap="saleResultMap">
        SELECT * FROM sale
        WHERE id = #{id}
    </select>

    <update id="updatePurchaseStatus" parameterType="map">
        UPDATE sale SET purchase_status = #{purchaseStatus}, updated_at = NOW()
        WHERE id = #{saleId}
    </update>

</mapper>